Tuples

Explanation:

Tuples are ordered collections of items that are immutable. They are similar to lists,but their immutability makes them different

In [ ]:
empty_tuple = tuple()
print(empty_tuple, type(empty_tuple))

In [1]:
# Tuple can be converted into a list and vice versa
print(list((1,2,3,4,5)))
print(tuple([1,2,3,4,5]))

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)

In [2]:
mixed_tuple  = (1, 'Hello', 8.9 , True)
print(mixed_tuple)

numbers = (1, 2, 3, 4, 5)

(1, 'Hello', 8.9, True)

Indexing, Acessing the elements and Slicing is similar like lists

In [3]:
print(mixed_tuple[2])
print(mixed_tuple[-1])

8.9
True

Tuple Operations

1. Concatenation

In [ ]:
# '+' performs concatenation can also be done for lists

concatenated = numbers + mixed_tuple
print(concatenated)

2. Repeitition

In [4]:
# '*' repeat the list elements for n times , also for lists
# n = 3
print(mixed_tuple * 3)
print(numbers * 3)

(1, 'Hello', 8.9, True, 1, 'Hello', 8.9, True, 1, 'Hello', 8.9, True)
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

3. Membership testing

In [5]:
# in and not in to test the presence
print('Hello' in mixed_tuple)
print(10 in numbers)
print(10 not in numbers)

True
False
True

Immutable

In [7]:
#TypeError: 'tuple' object does not support item assignment and they are immutable
#mixed_tuple[2] = 'rayyan'
# To updte a tuple first convert it to a list update then convert it to a tuple
tupl101 = (1, 2, 4, 5,6)

Tuples cannot be modified, but if they contain mutable elements (like lists), those elements can be changed

In [8]:
t1 = (1, [2, 3], 4, 5, [6, 7])
t1[1][0] = 89       # Modifies the list [2, 3]
t1[4][1] = 100      # Modifies the list [6, 7]
print(t1)

(1, [89, 3], 4, 5, [6, 100])

Tuple Methods

In [3]:
tuple_t = (10, 20, 20, 30, 40, 51)

print(tuple_t.count(20))
print(tuple_t.index(30))

2
3

Packing and Unpacking

In [ ]:
#packing a tuple
packed_tuple = 1, 'Hello rayyan', 3.14, True
print(packed_tuple)
#Output = (1, 'Hello rayyan', 3.14, True)

(1, 'Hello rayyan', 3.14, True)

In [4]:
a, b, c = (1, 2, 3)

print(a,b,c)

1 2 3

Unpackinng with '*'

In [9]:
# three variable intial, *middle, last

num = (1, 2, 3, 4, 5, 6)
first, *middle, last = num
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

Nested Tuple

In [2]:
nested_tuple = (1, (2, 3, 5), 4, 5, ('Hello', 'byee'))
nested_tuple

(1, (2, 3, 5), 4, 5, ('Hello', 'byee'))

In [3]:
#Accessing from nested tuple
print(nested_tuple[0])
print(nested_tuple[1][2])
print(nested_tuple[-1][1])

1
5
byee

In [3]:
numbers = (4,5,6,8)

for i in numbers:
    print(i*2)

8
10
12
16

In [15]:
from bisect import bisect_left, insort

def smallestonleft(arr, n):
    result = []
    sorted_list = []

    for i in range(n):
        pos = bisect_left(sorted_list, arr[i])
        if pos == 0:
            result.append(-1)
        else:
            result.append(sorted_list[pos - 1])
        insort(sorted_list, arr[i])
    return result

arr = [2,3,4,5,1]
n = len(arr)
output = smallestonleft(arr , n)
print(output)

[-1, 2, 3, 4, -1]

In [ ]:
tup = (1,2,[3, 4])
print(type(tup))

print(tup)

<class 'tuple'>
3

In [22]:
s = {1,2,3}
s.update([4,5])
print(s)

{1, 2, 3, 4, 5}