BASIC LEVEL

In [3]:
t1 = (1, 2, 3, 4, 5)
print(t1," length is :",len(t1))

(1, 2, 3, 4, 5)  length is : 5

Immutability check

In [ ]:
t1[0] = 90

# it will raise an typeError bcz tuple are immutabel

In [6]:
t2 = (6, 7, 8, 9, 10)
t1+t2

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [4]:
#Repetition
a = (7,) * 3
print(a)

(7, 7, 7)

Intermediate Level

In [9]:
nested_tuple  = (1, (2, 3, 4), 5, ('a', 'b', 'c'))
print(nested_tuple[1][1], nested_tuple[3][-1])

3 c

In [11]:
tuple23 = (10, 20, 30, 40, 50, 60)
tuple23[1:-2]

(20, 30, 40)

In [14]:
packed_tuple1 = ('Alice', 25, 'Engineer', 'Python')
a, *b ,c = packed_tuple1
print(a, b, c)

Alice [25, 'Engineer'] Python

In [ ]:
#Tuple can be modified by converting them to list and then back to tuple
l1 =list(t1)
l1.append(6)
t1 = tuple(l1)
print(t1)

(1, 2, 3, 4, 5, 6)

In [19]:
if 90 not  in tuple23:
    print("NA")

NA