Level 1

In [1]:
empty_dict = {}
type(empty_dict)

dict

Dictionaries

1. A dictionary is unordered, mutable collection of key_value pairs
2. Key must be unique and immutable
3. Values can be of any data type.

In [2]:
my_details = {"name" :"Rayyan", "age": 20, "City": "Hyderabad"}
print(my_details)

{'name': 'Rayyan', 'age': 20, 'City': 'Hyderabad'}

Accessing Dictonarie values:

In [2]:
# Can be done by key values
print(my_details['name'])

Rayan

Adding/Updating them

In [18]:
# If the key exists its update the value
my_details['age'] = 20.5

# If not exists adds a key 

my_details['profession'] = 'Engineer'

print(my_details)

{'name': 'Rayyan', 'age': 20.5, 'City': 'Hyderabad', 'profession': 'Engineer'}

Iterating through the list

In [3]:
for key,value in my_details.items():
    print(f"{key}:{value}")

name:Rayyan
age:20
City:Hyderabad

Dictionary methods

In [ ]:
# Can be used to retreive different key 
print(my_details.keys())

dict_keys(['name', 'age', 'City', 'profession'])

In [13]:
# Retrieve diff values
print(my_details.values())

dict_values(['Rayyan', 20.5, 'Hyderabad', 'Engineer'])

In [14]:
# Items in the list (Returns both key and values)
print(my_details.items())

dict_items([('name', 'Rayyan'), ('age', 20.5), ('City', 'Hyderabad'), ('profession', 'Engineer')])

In [23]:
# Returns the value of the key , if not exist returns None
print(my_details.get("name"))

Rayyan

Shallow Copy or update

In [30]:
new_data = {"college":'Shadan', 'field': 'Machine learning'}
new_data.update(my_details)

print(new_data)

{'college': 'Shadan', 'field': 'Machine learning', 'name': 'Rayyan', 'age': 20.5, 'City': 'Hyderabad', 'profession': 'Engineer'}

In [29]:
print(my_details)

{'name': 'Rayyan', 'age': 20.5, 'City': 'Hyderabad', 'profession': 'Engineer'}

In [37]:
# Shallow Copy 

new_data1 = my_details.copy()
new_data1['Waste'] = None
print(my_details)
print(new_data1)

# .copy.deepcopy() also deeply copy nested structres

{}
{'Waste': None}

In [ ]:
# Makes the list empty
my_details.clear()
print(my_details)

{}

Nested Dictonaries

In [58]:
students = {
    101: {"name": "Alice", "age": 20, "major": "Computer Science"},
    102: {"name": "Bob", "age": 22, "major": "Mathematics"},
    103: {"name": "Charlie", "age": 21, "major": "Physics"},
}
students

{101: {'name': 'Alice', 'age': 20, 'major': 'Computer Science'},
 102: {'name': 'Bob', 'age': 22, 'major': 'Mathematics'},
 103: {'name': 'Charlie', 'age': 21, 'major': 'Physics'}}

In [59]:
print(students[101]['name'])

Alice

Iterating over the nested Dictonaries

In [ ]:
for students,students_info in students.items():
    print(f"{students}:{students_info}")
    for key, value in students_info.items():
        print(f"{key}:{value}")

101:{'name': 'Alice', 'age': 20, 'major': 'Computer Science'}
name:Alice
age:20
major:Computer Science
102:{'name': 'Bob', 'age': 22, 'major': 'Mathematics'}
name:Bob
age:22
major:Mathematics
103:{'name': 'Charlie', 'age': 21, 'major': 'Physics'}
name:Charlie
age:21
major:Physics

In [ ]:
# # students = {
# #     101: {"name": "Alice", "age": 20, "major": "Computer Science"},
# #     102: {"name": "Bob", "age": 22, "major": "Mathematics"},
# #     103: {"name": "Charlie", "age": 21, "major": "Physics"},
# # }

# # for students_id, student_info in students.items() :
# #     print(f"{students_id}:{student_info}")
# #     for key, value in student_info.items() :
#         print(f"{key} : {value}")

# saad ka code hai yeh 
# main sikhaya

101:{'name': 'Alice', 'age': 20, 'major': 'Computer Science'}
name : Alice
age : 20
major : Computer Science
102:{'name': 'Bob', 'age': 22, 'major': 'Mathematics'}
name : Bob
age : 22
major : Mathematics
103:{'name': 'Charlie', 'age': 21, 'major': 'Physics'}
name : Charlie
age : 21
major : Physics

In [1]:
d = {1: 'Geeks', 2: 'For', 3: 'Geeks'}
d

{1: 'Geeks', 2: 'For', 3: 'Geeks'}

Creating a dictionary

In [3]:
d1 = {1: 'Geeks', 2: 'For', 3: 'Geeks'}
print(d1)

#creating a dictinary

d2 = dict(a = "Geeks", b = "For", c = "Geeks")
print(d2)

{1: 'Geeks', 2: 'For', 3: 'Geeks'}
{'a': 'Geeks', 'b': 'For', 'c': 'Geeks'}

Accessing Dictinary items

In [4]:
d = {"name": "prajjwal", 1: "python", (1,2): [1,2,4]}

#accessing using key

print(d["name"])

#accessing using get()

print(d.get("name"))

prajjwal
prajjwal

Adding a value

In [5]:
d = {1: "geeks", 2: "For", 3: "Geeks"}

d["age"] = 22

#updating an exsting value

d[1] = "Python dict"

print(d)

{1: 'Python dict', 2: 'For', 3: 'Geeks', 'age': 22}

In [7]:
d = {1: "Geeks", 2: "For", 3: "Geeks", "age": 22}

#Using del to remove an item

del d["age"]
print(d)

#using pop() to remove an item and return the value

val = d.pop(1)
print(val)

#using popitem() to remove an item and return the last key value pair

key, val = d.popitem()
print(f"key: {key}, Value: {val}")

#clear the items from the dict

d.clear()
print(d)

{1: 'Geeks', 2: 'For', 3: 'Geeks'}
Geeks
key: 3, Value: Geeks
{}

In [1]:
d = {1: "Geeks", 2: "For", "age": 22}

for key in d:
    print(key)

for value in d.values():
    print(value)

update_d = {}
for key, value in d.items():
    if key == 1:
        key = 4
    if value == "Geeks":
        value = "Hello"
    update_d[key] = value

print(d)
print(update_d)
print(d.pop(1))

1
2
age
Geeks
For
22
{1: 'Geeks', 2: 'For', 'age': 22}
{4: 'Hello', 2: 'For', 'age': 22}
Geeks

In [13]:
import copy

original = {"name": "Alice", "marks": {"maths": 90, "science": 95}}

shallow = copy.copy(original)

shallow["marks"]["maths"] = 100

print(f"original {original}")
print(f"shallow {shallow}")

original {'name': 'Alice', 'marks': {'maths': 100, 'science': 95}}
shallow {'name': 'Alice', 'marks': {'maths': 100, 'science': 95}}

In [21]:
tup = ()
print(tup)

tup = ('geeks', 'For')
print(tup)

#using list
li = [x for x in range(1, 11)]
print(tuple(li))

tup = tuple("Geeks")
print(tup)

()
('geeks', 'For')
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
('G', 'e', 'e', 'k', 's')

In [25]:
tup = (5, "welcome", 7, "Geeks")
print(tup)

tup1 = (0,1,2,3,4)
tup2 = ('python', 'geek')
tup3 = (tup1, tup2)
print(tup3)

tup1 = ("geeks",)*3
print(tup1)

tup = ('Geeks')
n = 5

for i in range(int(n)):
    tup = (tup)
    print(tup)

(5, 'welcome', 7, 'Geeks')
((0, 1, 2, 3, 4), ('python', 'geek'))
('geeks', 'geeks', 'geeks')
Geeks
Geeks
Geeks
Geeks
Geeks

accessing of tuples

In [26]:
#accessing of tuples

tup = tuple("Geeks")
print(tup[0])

print(tup[1:4])
print(tup[:-1])
print(tup[::-1])

tup = ("Geeks", "For", "Geeks")

a, b, c = tup

print(a)
print(b)
print(c)

G
('e', 'e', 'k')
('G', 'e', 'e', 'k')
('s', 'k', 'e', 'e', 'G')
Geeks
For
Geeks

In [2]:
tup1 = (0,1,2,3)
tup2 = ('Geeks', 'For', 'Geeks')

tup3 = tup1 + tup2
tup3

(0, 1, 2, 3, 'Geeks', 'For', 'Geeks')

In [3]:
tup = [x for x in range(1, 10)]
new_tup = tuple(tup)

a, *b, c = new_tup

print(a)
print(b)
print(c)

1
[2, 3, 4, 5, 6, 7, 8]
9