 Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.

In [2]:
import pandas as pd
import numpy as np

In [3]:
data = np.random.randint(1,100, (6,4))

df = pd.DataFrame(data, columns=['ID', 'Math', 'Science', 'English'])

df.set_index('ID', inplace=True)

df

    Math  Science  English
ID
35    49       11       36
84    61       25       17
57    60       94       86
92    17        2       87
53    70       59       32
54     9       19       96

Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

In [4]:
data1 = np.random.randint(1,100, (3,3))

df1 = pd.DataFrame(data1, columns=['A', 'B', 'C',], index=['X', 'Y', 'Z'])

print(df1)

print("\n", df1.at['Y', 'B'])

    A   B   C
X  17  57  20
Y  95  51  89
Z  18  47  39

 51

Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.

In [5]:
data2 = np.random.randint(1,100, (5,3))

df2 = pd.DataFrame(data2, columns=['A','B','C'])

df2['Product'] = df2['A'] * df2['B']

df2

    A   B   C  Product
0  57  46  76     2622
1  44  48  86     2112
2  39  79  28     3081
3  32  23  48      736
4  94  22  75     2068

Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

In [6]:
data3 = np.random.randint(1,100, (4,3))

df3 = pd.DataFrame(data3)

print(df3)

row_sum = df3.sum(axis=1)
col_sum = df3.sum(axis=0)

print("\n", row_sum)
print("\n", col_sum)

    0   1   2
0  80  18  47
1  90  61  33
2  11  36   5
3  78  76  99

 0    145
1    184
2     52
3    253
dtype: int64

 0    259
1    191
2    184
dtype: int64

Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.

In [7]:
import pandas as pd
import numpy as np

# Step 1: Create a 5x3 DataFrame with random integers
df = pd.DataFrame(np.random.randint(1, 100, (5, 3)), columns=['A', 'B', 'C'])

# Step 2: Introduce NaN values manually
df.iloc[1, 0] = np.nan  # Set row 1, column 'A' to NaN
df.iloc[3, 2] = np.nan  # Set row 3, column 'C' to NaN
df.iloc[4, 1] = np.nan  # Set row 4, column 'B' to NaN

print(df)
# Step 3: Display the DataFrame
fill_nan = df.fillna(df.mean())

print(fill_nan)

      A     B     C
0  41.0  90.0  88.0
1   NaN  89.0  66.0
2  57.0  12.0  64.0
3  54.0  81.0   NaN
4  93.0   NaN  51.0
       A     B      C
0  41.00  90.0  88.00
1  61.25  89.0  66.00
2  57.00  12.0  64.00
3  54.00  81.0  67.25
4  93.00  68.0  51.00

Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

In [8]:
df = pd.DataFrame(np.random.randint(1, 100, (6, 4)))

df.iloc[1, 0] = np.nan  # Set row 1, column 'A' to NaN
df.iloc[3, 2] = np.nan  # Set row 3, column 'C' to NaN
df.iloc[4, 1] = np.nan  # Set row 4, column 'B' to NaN

print(df)

drop_nan = df.dropna()

print("\n", drop_nan)

      0     1     2   3
0  67.0  99.0  17.0  74
1   NaN  96.0   6.0  95
2  35.0  28.0  26.0  67
3   1.0  19.0   NaN  46
4  94.0   NaN  18.0   7
5  51.0  95.0  33.0  97

       0     1     2   3
0  67.0  99.0  17.0  74
2  35.0  28.0  26.0  67
5  51.0  95.0  33.0  97

Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.

In [9]:
np.random.seed(0)
categories = np.random.choice(['A', 'B', 'C'], size=10)
values = np.random.randint(10, 100, size=10)

df = pd.DataFrame({
    'Category': categories,
    'Value': values
})

print(df)

grouped = df.groupby('Category')['Value'].agg(['sum', 'mean'])
print("\n", grouped)

  Category  Value
0        A     22
1        B     68
2        A     75
3        B     49
4        B     97
5        C     56
6        A     98
7        C     91
8        A     47
9        A     35

           sum       mean
Category
A         277  55.400000
B         214  71.333333
C         147  73.500000

Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

In [10]:
import pandas as pd
import numpy as np

# Step 1: Random seed for reproducibility
np.random.seed(1)

# Step 2: Create sample data
products = ['P1', 'P2', 'P3', 'P4', 'P5', 'P6', 'P7', 'P8']
categories = np.random.choice(['Electronics', 'Clothing', 'Books'], size=8)
sales = np.random.randint(100, 1000, size=8)

# Step 3: Create DataFrame
df = pd.DataFrame({
    'Product': products,
    'Category': categories,
    'Sales': sales
})

print("Original DataFrame:")
print(df)

# Step 4: Group by 'Category' and calculate total sales
total_sales = df.groupby('Category')['Sales'].sum()

print("\nTotal Sales by Category:")
print(total_sales)

Original DataFrame:
  Product     Category  Sales
0      P1     Clothing    683
1      P2  Electronics    849
2      P3  Electronics    608
3      P4     Clothing    490
4      P5     Clothing    381
5      P6  Electronics    278
6      P7  Electronics    376
7      P8     Clothing    354

Total Sales by Category:
Category
Clothing       1908
Electronics    2111
Name: Sales, dtype: int32

Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.

In [11]:

# First DataFrame: Employee Info
df1 = pd.DataFrame({
    'ID': [1, 2, 3, 4],
    'Name': ['Alice', 'Bob', 'Charlie', 'David']
})

# Second DataFrame: Employee Salary
df2 = pd.DataFrame({
    'ID': [2, 3, 4, 5],
    'Salary': [50000, 60000, 55000, 45000]
})

print("DataFrame 1:")
print(df1)

print("\nDataFrame 2:")
print(df2)

merge = pd.merge(df1, df2, on='ID', how='inner')
print("\n",merge)

DataFrame 1:
   ID     Name
0   1    Alice
1   2      Bob
2   3  Charlie
3   4    David

DataFrame 2:
   ID  Salary
0   2   50000
1   3   60000
2   4   55000
3   5   45000

    ID     Name  Salary
0   2      Bob   50000
1   3  Charlie   60000
2   4    David   55000

Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

In [12]:
df1 = pd.DataFrame({
    'Emp_ID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie']
})

# Second DataFrame: Department Info
df2 = pd.DataFrame({
    'Dept_ID': [101, 102, 103],
    'Department': ['HR', 'IT', 'Finance']
})

Concatenate = pd.concat([df1, df2], axis=1, ignore_index=True)
Concatenate

   0        1    2        3
0  1    Alice  101       HR
1  2      Bob  102       IT
2  3  Charlie  103  Finance

Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.

In [13]:
date_range = pd.date_range(start='2024-01-01', periods=10, freq='D')
df = pd.DataFrame({
    'Value' : np.random.randint(1,100, size=10)
}, index= date_range)
monthly_mean =  df.resample('M').mean()
monthly_mean

C:\Users\HP\AppData\Local\Temp\ipykernel_2448\4128317033.py:5: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly_mean =  df.resample('M').mean()

            Value
2024-01-31   48.6

Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

In [14]:
date_range = pd.date_range(start='2024-01-01', periods=30, freq='D',)
df = pd.DataFrame({
    'numbers' : np.random.randint(1,100, size=30)
}, index=date_range)
mean_of_7days = df.rolling(window=7).mean()
mean_of_7days.head(8)

              numbers
2024-01-01        NaN
2024-01-02        NaN
2024-01-03        NaN
2024-01-04        NaN
2024-01-05        NaN
2024-01-06        NaN
2024-01-07  53.571429
2024-01-08  48.857143

Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.

In [ ]:
arrays = [
    ['Store1', 'Store1', 'Store1', 'Store2', 'Store2', 'Store2'],
    ['Apples', 'Bananas', 'Cherries', 'Apples', 'Bananas', 'Cherries']
]
index = pd.MultiIndex.from_arrays(arrays, names=('Store', 'Fruit'))

df = pd.DataFrame({
    'Quantity': np.random.randint(10, 100, size=6),
    'Price': np.random.randint(1, 10, size=6)
}, index=index)

                 Quantity  Price
Store  Fruit
Store1 Apples          37      8
       Bananas         53      1
       Cherries        11      7
Store2 Apples          92      3
       Bananas         36      5
       Cherries        94      4

Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

In [5]:
arrays = [
    ['Electronics', 'Electronics', 'Clothing', 'Clothing', 'Groceries', 'Groceries'],
    ['Mobiles', 'Laptops', 'Shirts', 'Jeans', 'Fruits', 'Vegetables']
]
index = pd.MultiIndex.from_arrays(arrays, names=('Category', 'SubCategory'))

# Create the DataFrame with random data
df = pd.DataFrame({
    'Sales': np.random.randint(1000, 10000, size=6),
    'Profit': np.random.randint(100, 1000, size=6)
}, index=index)

print("Original DataFrame:\n")
print(df)

# Sum of values for each Category
category_sum = df.groupby(level='Category').sum()
print("\nSum by Category:\n")
print(category_sum)

# Sum of values for each SubCategory
subcategory_sum = df.groupby(level='SubCategory').sum()
print("\nSum by SubCategory:\n")
print(subcategory_sum)

Original DataFrame:

                         Sales  Profit
Category    SubCategory
Electronics Mobiles       7452     313
            Laptops       8074     622
Clothing    Shirts        3948     405
            Jeans         5553     667
Groceries   Fruits        8665     520
            Vegetables    1709     951

Sum by Category:

             Sales  Profit
Category
Clothing      9501    1072
Electronics  15526     935
Groceries    10374    1471

Sum by SubCategory:

             Sales  Profit
SubCategory
Fruits        8665     520
Jeans         5553     667
Laptops       8074     622
Mobiles       7452     313
Shirts        3948     405
Vegetables    1709     951

Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.

In [12]:
data = {
    'Date': pd.date_range(start='2021-01-01', periods=10, freq='D'),
    'Category': np.random.choice(['A', 'B', 'C'], size=10),
    'Value': np.random.randint(100, 1000, size=10)
}

df = pd.DataFrame(data)

pivot_table = pd.pivot_table(df, values='Value', index='Date', columns='Category', aggfunc='sum')
pivot_table

Category        A      B      C
Date
2021-01-01  637.0    NaN    NaN
2021-01-02    NaN  689.0    NaN
2021-01-03    NaN    NaN  558.0
2021-01-04    NaN    NaN  234.0
2021-01-05    NaN  653.0    NaN
2021-01-06    NaN    NaN  532.0
2021-01-07    NaN    NaN  499.0
2021-01-08    NaN  638.0    NaN
2021-01-09    NaN    NaN  256.0
2021-01-10    NaN  523.0    NaN

Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.